MONGODB_URI=mongodb+srv://atif_db_user:YOUR_PASSWORD@cluster0.henijym.mongodb.net/jobportal?retryWrites=true&w=majority
 NEXTAUTH_SECRET=any_random_string_12345
NEXTAUTH_URL=http://localhost:3000
UPLOADTHING_TOKEN=your_uploadthing_token_here


JWT_SECRET=your_super_secret_key_123
JWT_EXPIRES_IN=7d

EMAIL_USER=yourgmail@gmail.com
EMAIL_PASS=16digitsPasswordWithNoSpaces
 